<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Finca: obtencion de datos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Finca</h1>
    <form action="#" th:action="@{/finca}" th:object="${finca}" method="post">
    	<p>Nombre: <input type="text" th:field="*{nombre}" /></p>
        <p>Direccion: <input type="text" th:field="*{direccion}" /></p>
        <p>Espacio: <input type="text" th:field="*{espacio}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>