<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Finca_lista: lista de fincas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Finca</h1>
    <table class="table">
    	<thead>
    		<tr>
    			<th>Id</th>
    			<th>Nombre</th>
    			<th>Direccion</th>
    			<th>Espacio</th>
    			<th>Actualizar</th>
    			<th>Registro empleados</th>
    			<th>Lista empleados</th>
    		</tr>
    	</thead> 	
    	<tbody>
    		<tr data-th-each="finca : ${fincas}">
    			<td data-th-text="${finca.id}"></td>
    			<td data-th-text="${finca.nombre}"></td>
    			<td data-th-text="${finca.direccion}"></td>
    			<td data-th-text="${finca.espacio}"></td>
    			<!--<td>
    				<a th:href="@{'/finca_actualizar/' + ${finca.id}}">UPD</a>
    			</td>
    			<td>
    				<a th:href="@{'/empleado/' + ${finca.id}}">RegEmp</a>
    			</td>
    			<td>
    				<a th:href="@{'/empleado_lista/' + ${finca.id}}">LstEmp</a>
    			</td>-->
    		</tr>
    	</tbody>
    </table>
    <br/>
    <a href="/finca">Registrar finca</a>
    <!--<a href="/produccion_busqueda">Busqueda produccion</a>-->
</body>
</html>